<div class="container">
  <div class="d-flex justify-content-center">
    <div class="fw-bold fs-1">
      {{ title }}
    </div>
  </div>
</div>

<div class="container gameboard">
  <app-tutorial
    [PAGE]="TUTORIAL.page"
    (changePage)="(pageChanged)"
    (EndTutorial)="EndOfTutorial()"
    *ngIf="!TUTORIAL.isTutorialDone"
  ></app-tutorial>

  <div *ngIf="TUTORIAL.isTutorialDone" class="gamearea my-5">
    <div class="container my-3">
      <div class="d-flex justify-content-center">
        <div class="fw-bold fs-3">Level: {{ getCurrentLevel() }}</div>
      </div>
    </div>

    <app-monster-page (MonsterDead)="monsterDead()" [HitPower]="getPlayerPower()"  [MonsterHealth]="getCurrentMonsterHealth()" [MONSTER]="getRandomMonster()"></app-monster-page>

    <div class="container my-3">
      <div class="d-flex justify-content-center">
        <div class="mx-2">
          <span class="fw-bold fs-4">Coins: &nbsp;</span> <span class="fs-4">{{ getCurrentCoins() | number: '1.0-0' }}</span> 
        </div>
        <div class="mx-2">
          <span class="fw-bold fs-4">Power: &nbsp;</span> <span class="fs-4">{{ getPlayerPower() | number: '1.0-0' }}</span>
        </div>
      </div>
    </div>
    <div class="container my-3">
      <div class="d-flex justify-content-center align-items-center">
        <button (click)="powerUpgrade()" [disabled]="getCurrentCoins()>= getnextPowerUpgrade()? false:true" class="btn btn-primary mx-2">Upgrade Power</button>
        <span class="fw-bold fs-3" > Cost: </span><span class="fs-4 mx-2"> {{ getnextPowerUpgrade() | number: '1.0-0' }}</span>
      </div>
    </div>
  </div>
</div>
